/*
  contact.css
  Contact page stylesheet for MartianMorgan.com
*/

h2 {
    margin: .5em 5% .5em 5%;
}

.main {
    width: 40%;
    grid-area: main;
    display: flex;
    align-items: center;
    margin: 0 30% 0 30%;
    padding: 2% 0 2% 0;
}

form {
    width: 90%;
    padding: 2%;
    margin: 2% 5% 2% 5%;
    border-radius: 0 2em 2em 2em;
}

form label {
    width: 100%;
    margin: 1% 0 1% 0;
    font-weight: bold;
}

form label i {
    margin: 0 1% 0 0;
}

form textarea {
    width: 100%;
    margin: 0 0 3% 0;
}

input[type="submit"] {
    font-weight: bold;
    border-color: rgba(71,107,107,1.0);
    background-color: rgba(255,255,255,1.0);
    border-radius: .5em;
    width: 20%;
    margin: 0 0 0 75%;
}

.container-fluid button {
    color: rgba(255,255,255,1.0);
    font-size: 2.5em;
}

/* Style for mobile */

@media only screen and (max-width: 820px) {

    .main {
        width: 80%;
        margin: 10% 10% 10% 10%;
    }

    form {
        width: 100%;
        margin: 5% 0 2% 0;
    }

}