/*
*/

/* Define font-faces for the Bellota font */

@font-face {
    font-family: 'Bellota';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Bellota/Bellota-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Bellota';
    font-style: bold;
    font-weight: 800;
    src: url(../fonts/Bellota/Bellota-Bold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Style generic elements */

h2 {
    font-family: "Bellota";
    font-weight: bold;
    font-size: 2.5em;
    margin: 0 0 .5em 0;
    padding: 0;
}

h3 {
    font-size: 2em;
    margin: .5em 0 .5em 0;
    font-weight: 200;
    color: rgba(71,107,107,1.0);
}

h4 {
    font-size: 1.25em;
    font-weight: normal;
    margin: 1em 0 1em 0;
    color: rgba(71,107,107,1.0);
}

p {
    font-size: calc(1em+1vmin);
    line-height: 1.5em;
    margin: 0;
}

ul {
    margin: 0;
}

/* Style webpages & define grid elements */

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
    font-family: 'Helvetica';
    background-image:url(../media/images/Mt-Roberts.jpg);
    background-size:cover;
}

body {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    margin: 0;
    background-color: rgba(71,107,107,0.75);
}

.header {
    width: 100%;
    grid-area: header;
    background-color: rgba(255,255,255,0.0);
    margin: 2% 0 0 0;
    padding: 0;
}

.main {
    width: 80%;
    grid-area: main;
    display: flex;
    align-items: center;
    margin: 0 10% 0 10%;
    padding: 2% 0 2% 0;
}

.footer {
    width: 100%;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0 2% 0;
    background-color: rgba(255,255,255,0.0);
}

/* Style the navigation bar */

.container-fluid {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 0 2%;
    padding: 0;
}

.navbar-brand {
    font-family: 'Bellota';
    font-size: 3.25em;
    color: rgba(255,255,255,1.0);
    border: solid rgba(255,255,255,0.0);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.navbar-brand:hover, .navbar-brand:focus {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: rgba(255,255,255,1.0);
}

.navbar-brand:focus {
    border: solid rgba(255,255,255,1.0);
}

.bg-contrast {
    color: rgba(179,204,204,1.0);
}

.container-fluid button {
    color: rgba(255,255,255,1.0);
    font-size: 2.5em;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 10% 0 auto;
    padding: 0;
    list-style: none;
}

.navbar-nav li {
    margin: 0 2em 0 2em;
}

.navbar-nav li a {
    color: rgba(255,255,255,1.0);
    font-size: 1.5em;
    text-decoration: none;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
    color: rgba(179,204,204,1.0);
    outline: none;
    background-color: transparent;
    text-decoration: underline;
}

/* Style the main content area */

.content {
    width: 100%;
}

.split-content {
    width: 70%;
    float: left;
    margin: 0 5% 0 0;
}

.split-graphic {
    width: 25%;
    float: left;
}

.float-box {
    background-color: rgba(255,255,255,1.0);
    padding: 2% 3% 2% 3%;
    color: rgba(0,0,0,1.0);
    border-radius: 0 2em 2em 2em;
}

.split-list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.split-graphic img {
    border-radius: 2em;
    margin: 5% 0 5% 0;
}

.float-box .split-graphic img {
    width:90%;
    margin: 10% 5% 0 5%;
    border-radius: 0;
}

img {
    width: 100%;
    margin: 0;
}

iframe {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.stretch-frame {
    height: 75vh;
    min-height: 100%;
}

.download {
    display: block;
    text-decoration: none;
    font-size: 1.1em;
}

.ul {
    text-decoration: underline;;
}

.bm {
    margin: 0 0 .5em 0;
}

.dbr {
    display: block;
    content: "";
    margin: .5em 0 0 0;
}

.bf-blue {
    font-weight: bold;
    color: #0d6efd;
}

.unavailable, .unavailable:hover, .unavailable:focus {
    color: rgba(150,150,150,1.0);
    text-decoration: none;
}

.blog {
    width: 96%;
    padding: 2%;
    margin: 2% 2% 2% 2%;
    border-radius: 0 2em 2em 2em;
    background-color: rgba(179,204,204,1.0);
}

.listings {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
}

.listing {
    padding: 2% 5% 5% 5%;
    background-color: rgba(255,255,255,1.0);
    border-radius: 0 2em 2em 2em;
    box-shadow: -.5em -.25em .1em .1em rgba(71,107,107,1.0);
}

.listing p .date, .listing p .topic {
    font-size: .8em;
}

.listing-title {
    font-family: Bellota;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0,0,0,1.0);
}

.listing-content {
    color: rgba(0,0,0,1.0);
}

.listing-action {
    color: rgba(71,107,107,1.0);
    font-size: .8em;
    display: block;
    margin: 2% 0 0 0;
}

.blog-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0 0 0;
}

.blog-footer ul {
    list-style: none;
    font-weight: bold;
    color: rgba(71,107,107,1.0);
}

.blog-footer ul li {
    background-color: rgba(255,255,255,1.0);
    border-radius: 25%;
}

.unfinished {
    display: none;
}

/* Style the footer */

.footer .fa {
    font-size: 2.5em;
    margin: 0 2em 0 2em;
    color: rgba(255,255,255,1.0);
}

.footer .fa, .footer .fa:hover, #social-links .fa:focus {
    text-decoration: none;
}

/* Style for mobile */

@media only screen and (max-width: 768px) {

    .container-fluid {
        margin: 0 5% 0 5%;
    }

    .split-content {
        width: 100%;
        margin: 0;
    }

    .split-graphic {
        width: 70%;
        margin: 0 15% 0 15%;
    }

    .navbar-nav {
        flex-direction: column;
        justify-content: center;
        align-items: end;
        margin: 0;
    }

    .navbar-nav li {
        margin: 0;
    }

    .d-lg-none img {
        width : 90%;
        margin : 5% 5% 5% 5%;
    }

    .blog {
        padding: 5% 5% 2% 5%;
    }

    .listings {
        display: block;
    }

    .listing {
        margin: 5% 0 10% 0;
    }
}